.state-page-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 88vh;
}

.map-container {
    font-size: 100px;
}

#state-map {
    position: relative;
    height: 88vh;
    width: 100%;
    z-index: 0;
}

.data-container {
    height: 88vh;
}

.navbar {
    display: flex;
    background-color: black;
    height: 12vh;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}

.dropdown {
    position: relative;
    height: 100%;
    width: 15vw;
    z-index: 1;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
}

.up-triangle {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}

.down-triangle {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
}

.dropdown-button .up-triangle {
    margin-left: 2vw;
}

.dropdown-button .down-triangle {
    margin-left: 2vw;
}

.dropdown-options {
    position: absolute;
    background-color: black;
    font-size: 1.125rem;
}

.dropdown-options li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 15vw;
    cursor: pointer;
}

.dropdown-options li:hover {
    background-color: green;
}

.navbar-text {
    display: flex;
    align-items: center;
    margin-left: 50vw;
}