/* taken from w3schools */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #5f78d2;
    font-family: Calibri;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #d2d9f2;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #374578;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 30px;
}


.small-text {
    font-size: 15px;
}

.error-message {
    font-size:15px;
    color:red;
    padding-top: 10px;
}

.make-inline {
    display: flex; /* Use display: flex instead of display: inline-flexbox */
    justify-content: space-between; /* Add this to separate the divs */
    align-items: flex-start; /* Add this for vertical alignment */
    width: 100%; /* Add this to take up the full width */
}

/* user options */
.user-options {
    width: 32%;
    flex: 0 0 auto; /* This ensures the div doesn't grow or shrink */
    font-family: Calibri;
    font-size:20px;
    padding-right: 2%;
}

/* Table itself */
.random-table {
    width: 65%; /* Reduce the width a bit to accommodate the space */
    position: relative;
    overflow-y: auto;
    height: 650px;
    flex: 0 0 auto; /* This ensures the div doesn't grow or shrink */
}


table {
    padding-top: 50px;
    border-collapse: collapse;
    border: none;
    font-family: Calibri;
}

th {
    padding-bottom: 10px;
    text-align: center;
    background-color: #9b9b9b;
    font-size: 25px;
}

.th-title {
    background-color:#4b4b4b;

}

td {
    padding: 8px;
    text-align: center;
    border:none;
    font-size:22px;
}

.gradient-fade-out {
    filter:blur(1px);
    background: linear-gradient(to bottom, #4b4b4b 1%, #9b9b9b 100%);
  }

  .dropdown-arrow-div {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    background-color: #9b9b9b;
    font-size: 20px;
}

.dropdown-arrow {
    width: 16px;
    height: 16px;
    text-align: center;
    cursor: pointer;
    border:none;
    background-color: #9b9b9b;
}

.hidden {
    display: none;
    /* Hide the arrow when all data is shown */
}

.random-table tbody tr:nth-child(odd) {
    background-color: #4b4b4b;
    /* Background color for odd rows */
}

.random-table tbody tr:nth-child(even) {
    background-color: #9b9b9b;
    /* Background color for even rows */
}