.main {
	width: 100vw;
	height: 100vh;
}

#main-map {
	position: relative;
	height: 93vh;
	width: 100%;
	z-index: 0;
}

.home-btn {
	font-size: 1.25rem;
	cursor: pointer;
}

.navbar {
	font-size: 1.25rem;
	border-bottom: 1px solid black;
}

#nav2 {
	padding-left: 10%;
	width: 80%;
	text-align: center;
}

#nav3 {
	width: 10%;
	text-align: right;
}