.state-page-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 93vh;
}

.td-centered {
    text-align: center;
}

.td-right {
    text-align: right;
}

.right-align {
    width: 100%;
    text-align: right;
}

.place-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: lightgray;
    width: 100%;
    height: 100%;
}

.nav-tabs .nav-link {
    color: blue;
    font-weight: bold;
}

/* =============================== */
/* Map */

#state-map {
    position: relative;
    height: 93vh;
    width: 100%;
    z-index: 0;
}

/* Map */
/* =============================== */

/* =============================== */
/* Ensemble Table */

.ensemble-table th {
    text-align: center;
}

.ensemble-table .back-button {
    cursor: pointer;
    color: blue;
}

.ensemble-table span {
    background-color: rgb(119, 0, 255);
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Ensemble Table */
/* =============================== */

/* =============================== */
/* Ensemble Legend */

.ensemble-legend {
    margin-left: 3%;
    font-size: 0.75rem;
}

/* Ensemble Legend */
/* =============================== */

/* =============================== */
/* Ensemble Cluster Visuals  */

.dm-dropdown {
    margin-left: 70%;
}

.dm-dropdown .dropdown-toggle {
    background-color: white;
    color: black;
}

.ensemble-cluster-visuals {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ensemble-cluster-visuals .line-graph-container {
    text-align: center;
}

.ensemble-cluster-visuals .table-container {
    width: 40%;
}

/* Ensemble Cluster Visuals */
/* =============================== */

/* =============================== */
/* Cluster Table Visuals  */

.cluster-table span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.cluster-table th {
    text-align: center;
}

.cluster-table td {
    text-align: center;
}

/* Cluster Table Visuals */
/* =============================== */

/* =============================== */
/* DP Summary  */

.dp-summary-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: left;
    margin-top: 3%;
}

.dp-ensemble-summary .body {
    margin-top: 3%;
}

.dp-ensemble-summary .header {
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: center;
}

.dp-ensemble-summary tr {
    font-size: 1rem;
}

.dp-table span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.dp-table th {
    text-align: center;
}

.state-summary-legend b {
    margin-left: 1vw;
    font-size: 0.75rem;
}

.compare-plans-container {
    margin-top: 7%;
    margin-left: 3%;
    font-size: 1.15rem;
}

.comparison-dropdown-menu {
    height: 300px;
    overflow-y: scroll;
}

.comparison-dropdowns {
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.comparison-container {
    margin-left: 3%;
    margin-top: 15%;
}

.comparison-tip {
    margin-top: 3%;
    font-size: 0.85rem;
}

.compare-on {
    background-color: blue;
}

.compare-off {
    background-color: red;
}

.comparison-title {
    margin-top: 3%;
    font-size: 1.15rem;
    text-decoration: underline;
    text-align: center;
}

.comparison-table {
    margin-top: 5%;
}

.comparison-legend {
    display: grid;
    grid-template-columns: 50% 50%;
}

.comparison-legend div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
}

.purple-square {
    width: 15px;
    height: 15px;
    background-color: purple;
    border: 1px solid black;
}

.orange-square {
    width: 15px;
    height: 15px;
    background-color: orange;
    border: 1px solid black;
}

/* DP Table Visuals */
/* =============================== */

/* =============================== */
/* Scatter Plot */

.scatter-plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scatter-plot-container .dropdown-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: left;
}

.x-dropdown {
    margin-left: 2vw;
}

.y-dropdown {
    margin-left: 2vw;
}

.cluster-plot-container {
    height: 350px;
    width: 800px;
    border: solid 3px black;
    padding: 5px;
    margin-top: 2%;
}

.cluster-plot-container-large {
    height: 600px;
    width: 800px;
    border: solid 3px black;
    padding: 5px;
    margin-top: 2%;
}

.dp-plot-container {
    height: 350px;
    width: 800px;
    border: solid 3px black;
    padding: 5px;
    margin-top: 2%;
}

.scatter-plot-container .button-container {
    margin-top: 3%;
    width: 94%;
}

/* Scatter Plot */
/* =============================== */

/* =============================== */
/* RD Splits Bar Graph */

.cluster-dropdown {
    margin-left: 75%;
}

.dropdown .dropdown-toggle {
    background-color: white;
    color: black;
}

.rd-split-graph-container {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.rd-split-graph-container div {
    height: 80vh;
    width: 47vw;
}

/* RD Splits Bar Graph */
/* =============================== */

.cluster-table-container div {
    margin-left: 2%;
}

.cluster-table-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.cluster-table {
    margin-top: 2%;
}

 #graph-link {
    color: rgb(79, 79, 252);
    text-decoration: underline;
    margin-top: 7vh;
    font-size: 1rem;
    cursor: pointer;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cluster-data-container {
    height: 93vh;
}