.state-page-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 93vh;
}

#state-map {
    position: relative;
    height: 93vh;
    width: 100%;
    z-index: 0;
}

.data-container {
    height: 93vh;
}

.scatter-plot-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.max-width-td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}