.state-page-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    height: 93vh;
}

/* =============================== */
/* Map */

#state-map {
    position: relative;
    height: 93vh;
    width: 100%;
    z-index: 0;
}

/* Map */
/* =============================== */

/* =============================== */
/* Ensemble Table */

.ensemble-table th {
    text-align: center;
}

.ensemble-table .back-button {
    cursor: pointer;
    color: blue;
}

.ensemble-table span {
    background-color: rgb(119, 0, 255);
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Ensemble Table */
/* =============================== */

/* =============================== */
/* Ensemble Cluster Visuals  */

.dm-dropdown {
    margin-left: 70%;
}

.dm-dropdown .dropdown-toggle {
    background-color: white;
    color: black;
}

.ensemble-cluster-visuals {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ensemble-cluster-visuals .line-graph-container {
    text-align: center;
}

.ensemble-cluster-visuals .table-container {
    width: 40%;
}

.td-centered {
    text-align: center;
}

/* Ensemble Cluster Visuals */
/* =============================== */

/* =============================== */
/* Cluster Table Visuals  */

.location-marker {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    height: 5%;
}

/* Cluster Table Visuals */
/* =============================== */

.cluster-table-container div {
    margin-left: 2%;
}

.cluster-table-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.cluster-table {
    margin-top: 2%;
}

 #graph-link {
    color: rgb(79, 79, 252);
    text-decoration: underline;
    margin-top: 7vh;
    font-size: 1rem;
    cursor: pointer;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cluster-data-container {
    height: 93vh;
}

.scatter-plot-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

